@import url(../css/cabinet-grotesk.css);

/* paleta de cores  */



:root {
    --steel-blue: #4580BFff;
    --tufts-blue: #458BD6ff;
    --ruddy-blue: #82ACD9ff;
    --pistachio: #A5CF7Eff;
    --tea-green: #CEF2ACff;
    --c-brand-rgb:  100, 87, 120;
    --color-body: white;
    --font-base: "CabinetGrotesk", sans-serif;
    --box-shadow: 0px 15px 25px rgba(0,0,0,0.08);
    --transition: all 0.5s ease;
}

body {

    font-family: var(--font-base);
    line-height: 1.7;
    color: white;
}

/* chatbot */

/* navbar */
.custom-navbar{
    background-color: transparent; /* Define o plano de fundo como transparente */
    position: absolute; /* Posiciona a barra de navegação de forma absoluta */
    top: 0; /* Alinha a barra de navegação no topo */
    width: 100%; /* Define a largura da barra de navegação como 100% */
    z-index: 999;
}



a{
    text-decoration: none;
    color: var(--ruddy-blue);
    transition: var(--transition);
}

a:hover {
    color: var(--steel-blue)
}

img{
    max-width: 100%;
    height: auto;
}

.section-padding{
    padding-top: 140px;
    padding-bottom: 140px;
}

/* btn */

.btn {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 0;
    padding: 10px 24px;
}

.btn-brand {
    background-color: var(--tufts-blue);
    color: white;
}

.btn-brand:hover{
    background-color: var(--ruddy-blue);
}

.btn-light{
    background-color: var(--tufts-blue);
    color: white;
    border: none;
}

.btn-light:hover{
    background-color: var(--ruddy-blue);
    color: white;
}

/* hero */

#hero {
    background: linear-gradient(rgba(0,0,0, 0.507), rgba(0,0,0, 0.438)), url(../images/bg-login.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
@media only screen and (max-width: 768px){
    #hero{
        background: linear-gradient(rgba(0,0,0, 0.507), rgba(0,0,0, 0.438)), url(../images/bg-login-mobile.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
}

/* sobre nos */
.section-title{
    margin-bottom: 40px;
}

.section-title .line{
    width: 60px;
    height: 4px;
    background-color: var(--tufts-blue);
    margin: 16px auto 24px auto;
}

.section-title p{
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}


.bg-custom-color{
    background-color: #f0f0f0;
}

/* icon */
.iconbox{
    width: 60px;
    height: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--tufts-blue);
    font-size: 34px;
    flex: none;
}

footer{
    background: #f0f0f0;
}